@model FantasyNBA.Models.Customer
<h2>@Model.Name</h2>

<ul>
    <li>
        @Model.MembershipType.Name
    </li>
    <li>
        @Model.Birthdate
    </li>
</ul>

<h2>Pick one of your teams </h2>
<table id="teamsDataTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@Html.ActionLink("Create new Team", "New", "Teams", new { id = Model.Id }, new { @class = "btn btn-primary" })

<table id="playersDataTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Player</th>
            <th>Position</th>
            <th>Team</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
                var table = $("#teamsDataTable").DataTable({
                    ajax: {
                        url: "/api/customers/" + @Model.Id,
                        dataSrc: ""
                    },
                    columns:
                    [
                        {
                            data: "name",
                            render: function (data, type, team) {
                                return "<a class='teamclass' data-team-id=" + team.id + ">" + team.name + "</a>";
                            }
                        }
                    ]
                });
            $("#teamsDataTable").on("click", ".teamclass", function (e) {
                e.preventDefault();
                var teamClicked = $(this);
                    
                var table2 = $("#playersDataTable").DataTable({
                    ajax: {
                        url: "/api/teams/" + teamClicked.attr("data-team-id"),
                        dataSrc: ""
                    },
                    columns:
                    [
                        {
                            data: "fullName",
                            render: function (data, type, player) {
                                return "<a href='/players/GetPlayerDetails/" + player.id + "'>" + player.fullName + "</a>";
                            }
                        },
                        {
                            data: "position.name"
                        },
                        {
                            data: "realTeam"
                        }
                    ]
                });
                table2.destroy();

            });
            $("#playersDataTable").on("click", ".js-add", function (e) {
                e.preventDefault();
                var button = $(this);
                var addedPlayer = $(this).parent().siblings(0).html(); // parentNode.parentNode.children[0].children[0];

            });
        });
    </script>
}