@model FantasyNba.ApiConsumer.Models.Stats

@{
    ViewBag.Title = "GetStatistics";
}

<h2>GetStatistics</h2>

<div>
    <h4>Stats</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlayerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeasonType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeasonType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resource)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>