@model FantasyNBA.Models.League

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>League</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<table id="teamsDataTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts
{
    <script>
        $(document).ready(function () {
                var table = $("#teamsDataTable").DataTable({
                    ajax: {
                        url: "/api/leagues/" + @Model.Id,
                        dataSrc: ""
                    },
                    columns:
                    [
                        {
                            data: "name",
                            render: function (data, type, team) {
                                return "<a class='teamclass' data-team-id=" + team.id + ">" + team.name + "</a>";
                            }
                        },
                        {
                            data: "score"
                        }
                    ]
                });
        });
    </script>
}